* {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 16px;
	background-color: #282E36;
	font-family: 'open-sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
}

p {
	font-size: 18px;
}

a {
	color: #3975b7;
}