#masthead {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px;
	z-index: 99;
	transition: all ease .4s;

	img {
		max-width: 250px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		transition: all ease .4s;
	}

	&.selected {
		padding-top: 15vh;

		img {
			max-width: 500px;
		}
	}
}

#site-content {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#main {
	height: 100vh;
}