.issues-container {
	height: 100%;
	width: 100vw;
	position: absolute;
	text-align: center;
	overflow-y: auto;
	top: 0;
	left: 0;
	padding: 80px 50px;
	transition: all ease .4s;

	&.selected {
		padding: 0;
		overflow-y: hidden;

		.issue-toggle {
			z-index: -1;
		}
	}
}

.previous-issues {
	left: 100%;
}

.issue-toggle {
	border: none;
	background-color: #3975B7;
	color: #ffffff;
	padding: 10px 15px;
	width: 175px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    top: 33%;
    z-index: 99;
    border-radius: 10px 10px 0 0;
    transition: all ease .4s;

	&.issues-prev {
	    right: 0;
	    transform: rotateZ(-90deg);
	    transform-origin: 100% 100%;
	}

	&.issues-current {
	    left: 100%;
	    transform: rotateZ(90deg);
	    transform-origin: 0 100%;
	}
}

.magazine-item {
	cursor: pointer;
	position: relative;
	transition: all ease .4s;
	margin: 30px 1.62vw;
	text-decoration: none;

	.magazine-container {
		width: 100%;
		height: 100%;
	}

	.cover {
		width: 15vw;
		height: 22vw;
		min-width: 240px;
		min-height: 350px;
		overflow: hidden;
		position: relative;
		border-radius: 10px;
		opacity: .6;
		transition: opacity ease .4s;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 100%;
			width: auto;
			max-width: none;
			opacity: 1;
			transition: all ease .4s;
		}
	}

	.details {
		text-align: center;
		width: 100%;
		font-size: 1em;
		color: #ffffff;
		margin-top: 5px;
	}

	&.selected {

		&.digital-magazine {
			width: 100vw;
			height: 100vh;
			margin: 0;

			.cover img {
				height: 100vw;
				opacity: .4;
				@include media( portrait ) {
					min-height: 100%;
				    min-width: 100%;
				    height: auto;
				}
			}
		}

		.cover {
			width: 100%;
			height: 100%;
		}

		.details {
			display: none;
		}
	}

	&:hover,
	&:focus {
		.cover {
			opacity: 1;
		}
	}
}