@mixin basic-transition {
	transition: all ease .4s;
}

@mixin flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex-grow ($size) {
	@supports not (display: flex) {
		width: $size'%';
	}
	flex-grow: $size;
}

@mixin clearfix {
	&::after {
		content: "";
		clear: both;
	}
}

@mixin media( $res ) {
	@if portrait == $res {
		@media only screen and (orientation: portrait) {
			@content;
		}
	}
}