/*
Theme Name: The Citadel Magazine
Theme URI: https://magazine.citadel.edu/
Author: the Citadel Webmaster
Author URI: https://magazine.citadel.edu/
Description: Custom theme for The Citadel Magazine
Requires at least: WordPress 4.9.6
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: citadel-mag
Tags: one-column, flexible-header, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, rtl-language-support, sticky-post, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/*----------------------------
Style Resets
----------------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*----------------------------
Default Styles
----------------------------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 16px;
  background-color: #282E36;
  font-family: 'open-sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

p {
  font-size: 18px;
}

a {
  color: #3975b7;
}

/*----------------------------
Layout Classes
----------------------------*/
.skip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  color: #3975b7;
  display: block;
  padding: 10px 15px;
  font-size: 1em;
}

.show-on-focus:not(:focus):not(:active) {
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/*
--------------------
Flex Layout
--------------------
*/
.flex-container {
  display: table;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen\9 {
  .flex-container::after {
    content: "";
    clear: both;
  }
}
@media screen\0 {
  .flex-container::after {
    content: "";
    clear: both;
  }
}

.flex-item {
  display: table-cell;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-left {
  float: left;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-right {
  float: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-middle {
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-col-rev {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.flex-row-rev {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/*----------------------------
Header
----------------------------*/
#masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  z-index: 99;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}
#masthead img {
  max-width: 250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}
#masthead.selected {
  padding-top: 15vh;
}
#masthead.selected img {
  max-width: 500px;
}

#site-content {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#main {
  height: 100vh;
}

/*----------------------------
Homepage
----------------------------*/
.issues-container {
  height: 100%;
  width: 100vw;
  position: absolute;
  text-align: center;
  overflow-y: auto;
  top: 0;
  left: 0;
  padding: 80px 50px;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}
.issues-container.selected {
  padding: 0;
  overflow-y: hidden;
}
.issues-container.selected .issue-toggle {
  z-index: -1;
}

.previous-issues {
  left: 100%;
}

.issue-toggle {
  border: none;
  background-color: #3975B7;
  color: #ffffff;
  padding: 10px 15px;
  width: 175px;
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 33%;
  z-index: 99;
  border-radius: 10px 10px 0 0;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}
.issue-toggle.issues-prev {
  right: 0;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.issue-toggle.issues-current {
  left: 100%;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.magazine-item {
  cursor: pointer;
  position: relative;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
  margin: 30px 1.62vw;
  text-decoration: none;
}
.magazine-item .magazine-container {
  width: 100%;
  height: 100%;
}
.magazine-item .cover {
  width: 15vw;
  height: 22vw;
  min-width: 240px;
  min-height: 350px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  opacity: .6;
  -webkit-transition: opacity ease .4s;
  transition: opacity ease .4s;
}
.magazine-item .cover img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
  max-width: none;
  opacity: 1;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}
.magazine-item .details {
  text-align: center;
  width: 100%;
  font-size: 1em;
  color: #ffffff;
  margin-top: 5px;
}
.magazine-item.selected.digital-magazine {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.magazine-item.selected.digital-magazine .cover img {
  height: 100vw;
  opacity: .4;
}
@media only screen and (orientation: portrait) {
  .magazine-item.selected.digital-magazine .cover img {
    min-height: 100%;
    min-width: 100%;
    height: auto;
  }
}
.magazine-item.selected .cover {
  width: 100%;
  height: 100%;
}
.magazine-item.selected .details {
  display: none;
}
.magazine-item:hover .cover, .magazine-item:focus .cover {
  opacity: 1;
}

/*----------------------------
Footer
----------------------------*/
